#form {
    display: flex;
    flex-direction: column;
    width: 40%;
}
body {
   flex-direction: column;
   display: flex;
   align-items: center;
}
label {
margin: 5px;
}
input {
    padding: 5px;
}
#ingresar {
    margin-top: 10px;
    padding: 5px;;
}
th, table, td {
    border: 2px solid black;
    border-collapse: collapse;
}